.modal__delete-container {
  position: relative;
  width: 670px;
  height: 280px;
  background-color: white;
  border-radius: 20px;
}

.modal__delete-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal__delete-close {
  background: transparent;
  border: none;
  position: absolute;
  padding: 0;
  max-width: 16px;
  max-height: 16px;
  top: 20px;
  right: 20px;
  width: 100%;
  cursor: pointer;
}

.modal__warning-container {
  margin-bottom: 40px;
  padding: 0 120px;
}

.modal__delete-warning {
  text-align: center;
  font-family: "otf", serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  color: #000000;
  margin: 0;
}

.modal__delete-options {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.modal__btn {
  font-family: "otf", serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.modal__btn_type_delete-cancel {
  padding: 0;
  background-color: transparent;
  color: #000000;
  transition: 0.7s ease-in;
}

.modal__btn_type_delete-cancel:hover {
  color: #00000099;
  cursor: pointer;
}

.modal__btn_type_delete-confirm {
  padding: 0;
  background-color: transparent;
  color: #ff4d00;
  transition: 0.7s ease-in;
}

.modal__btn_type_delete-confirm:hover {
  color: #ff0005;
  cursor: pointer;
}

.modal__delete-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
