.modal__content_type_preview {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 498px;
  min-height: 610px;
}

.modal__close_type_preview {
  background: transparent;
  border: none;
  position: absolute;
  top: 27px;
  right: 27px;
}

.modal__image {
  min-height: 498px;
  width: 498px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.modal__foter {
  position: relative;
  margin: 0;
  padding: 0;
  right: 148px;
}

.modal__caption {
  margin: 20px 32px 12px;
  font-family: "otf", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000;
}

.modal__weather {
  margin: 0 32px 32px;
  font-family: "otf", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000;
}

.modal__delete-btn {
  position: absolute;
  margin: 0 32px 68px;
  border: none;
  background-color: #fff;
  top: 516px;
  left: 322px;
  color: #ff4d00;
  text-wrap: nowrap;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  font-family: "otf", serif;
  transition: 0.7s ease-in;
  visibility: visible;
}

.modal__delete-btn:hover {
  color: #ff0005;
  cursor: pointer;
}

.modal__delete-btn_hidden {
  visibility: hidden;
}
